---
const { input, output } = Astro.props
---

<div class="test-case">
  <div class="test-case-input">
    <p>Entrada</p>
    <pre>{input}</pre>
  </div>
  <div class="test-case-output">
    <p>Salida</p>
    <pre>{output}</pre>
  </div>
</div>
