:root {
  --color-background: #fff;
  --color-background-secondary: #222;
  --color-text: #222;
  --color-text-secondary: #fff;
  --color-primary: #3ebb4f;
  --color-secondary: #ff4c4c;

  
  --color-background-pattern: rgba(106, 126, 108, 0.2);
  
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  --primary-font: 'Inclusive Sans Variable', sans-serif;

  --max-page-width: 80rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scrollbar-color: var(--color-primary) transparent;
  scrollbar-width: thin;
  box-sizing: border-box;
  height: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  scrollbar-width: 2rem;
  font-family: var(--primary-font);
  background-color: var(--color-background);
  color: var(--color-text);
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  background-color: var(--color-background-pattern, black);

  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' height='240' viewBox='0 0 240 240'%3E%3Cstyle%3Etext%7Bfont-family:'Consolas', monospace;font-weight:bold;font-size:14px%7D%3C/style%3E%3Ctext x='20' y='50'%3Estd::%3C/text%3E%3Ctext x='160' y='40'%3Eauto%3C/text%3E%3Ctext x='90' y='130'%3Esort()%3C/text%3E%3Ctext x='20' y='210'%3Evector%3C/text%3E%3Ctext x='170' y='200'%3Emap%3C/text%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' height='240' viewBox='0 0 240 240'%3E%3Cstyle%3Etext%7Bfont-family:'Consolas', monospace;font-weight:bold;font-size:14px%7D%3C/style%3E%3Ctext x='20' y='50'%3Estd::%3C/text%3E%3Ctext x='160' y='40'%3Eauto%3C/text%3E%3Ctext x='90' y='130'%3Esort()%3C/text%3E%3Ctext x='20' y='210'%3Evector%3C/text%3E%3Ctext x='170' y='200'%3Emap%3C/text%3E%3C/svg%3E");

  -webkit-mask-size: 240px 240px;
  mask-size: 240px 240px;
}

body::-webkit-scrollbar {
  width: 2rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

button {
  background: none;
  padding: 0;
  border: none;
}
