---
import { Picture } from 'astro:assets'
import progcompclLogo from '@assets/images/progcompcl-logo.svg'
import logoUSM from '@assets/images/usm-logo.png'
---

<footer class="footer">
  <div class="footer__inner">
    <section
      class="section"
      aria-label="Taller de Verano de Programación Competitiva"
    >
      <ul class="list">
        <li>
          <a
            href="https://www.usm.cl/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Universidad Técnica Federico Santa María"
          >
            <Picture
              src={logoUSM}
              alt="Logo USM"
              width={250}
              height={56}
              formats={['avif', 'webp', 'png']}
              class="list__image"
            />
          </a>
        </li>
        <li>
          <a
            href="https://progcomp.cl/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Picture
              src={progcompclLogo}
              alt="Sociedad Chilena de Programación Competitiva"
              width={250}
              height={103}
              class="list__image list__image--small"
            />
          </a>
        </li>
      </ul>
    </section>

    <section class="section">
      <h2>Contacto</h2>
      <p>
        Para consultas sobre el taller, puedes escribir a
        <a href="mailto:javier.oliva@progcomp.cl">javier.oliva@progcomp.cl</a>.
      </p>
    </section>
  </div>
</footer>

<style>
  .footer {
    background-color: var(--color-background);
    width: 100%;
    padding: 3rem 1.5rem;
    margin-top: auto;
  }

  .footer__inner {
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: var(--max-page-width);
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
  }

  @media screen and (min-width: 48rem) {
    .footer__inner {
      justify-content: space-evenly;
      flex-direction: row;
    }
  }

  .section {
    max-width: 20rem;
  }

  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list__image {
    width: auto;
  }

  .list__image--small {
    height: 4.5rem;
  }
</style>
