---
import ToggleTheme from '@components/theme/ToggleTheme.astro'

const MENU_ITEMS = [
  { name: 'Inicio', href: '/' },
  { name: 'Noticias', href: '/noticias' },
]

const { pathname } = Astro.url
---

<header class="header">
  <div class="header__inner">
    <nav class="navigation">
      <ul class="menu">
        {
          MENU_ITEMS.map((item) => (
            <li class="menu__item">
              <a
                class:list={[
                  'menu__link',
                  {
                    'menu__link--active':
                      item.href == '/'
                        ? pathname == '/'
                        : pathname.startsWith(item.href),
                  },
                ]}
                href={item.href}
              >
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <ToggleTheme />
  </div>
</header>

<style>
  .header {
    background-color: var(--color-primary);
    padding: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    color: var(--color-text-secondary);
    width: 100%;
  }

  .header__inner {
    display: flex;
    max-width: var(--max-page-width);
    margin-left: auto;
    margin-right: auto;
  }

  .navigation {
    margin-left: auto;
  }

  .menu {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-size: 1.15rem;
    font-weight: bold;
  }

  @media screen and (min-width: 48rem) {
    .menu {
      gap: 5rem;
    }
  }

  .menu__link {
    position: relative;
  }

  .menu__link,
  .menu__link::before,
  .menu__link::after {
    transition: color 0.3s ease-in-out;
    color: var(--color-text-secondary);
  }

  .menu__link::before,
  .menu__link::after {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .menu__link::before {
    content: '{';
  }

  .menu__link::after {
    content: '}';
  }

  .menu__link--active::before,
  .menu__link--active::after {
    opacity: 1;
  }

  .menu__link:active::before,
  .menu__link:hover::before,
  .menu__link:active::after,
  .menu__link:hover::after {
    opacity: 1;
  }
</style>
