---
import ToggleTheme from '@components/theme/ToggleTheme.astro'

const MENU_ITEMS = [
  { name: 'Inicio', href: '/' },
  { name: 'Noticias', href: '/noticias' },
]

const { pathname } = Astro.url
---

<script>
  const init = () => {
    const navigation = document.getElementById('navigation')!
    const openMenu = document.getElementById('open-menu')!

    openMenu.addEventListener('click', () => {
      const isActive = openMenu.classList.toggle('open-menu--active')
      navigation.classList.toggle('navigation--active', isActive)
      openMenu.setAttribute('aria-checked', String(isActive))
      document.body.classList.toggle('body-menu-active', isActive)
    })
  }

  document.addEventListener('astro:page-load', init)
</script>

<header class="header">
  <div class="header__inner">
    <nav class="navigation" id="navigation">
      <ul class="menu">
        {
          MENU_ITEMS.map((item) => (
            <li class="menu__item">
              <a
                class:list={[
                  'menu__link',
                  {
                    'menu__link--active':
                      item.href == '/'
                        ? pathname == '/'
                        : pathname.startsWith(item.href),
                  },
                ]}
                href={item.href}
              >
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <ToggleTheme />

    <button
      class="open-menu"
      id="open-menu"
      role="switch"
      aria-checked="false"
      aria-label="Menú de navegación"></button>
  </div>
</header>

<style>
  .header {
    background-color: var(--color-primary);
    padding: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    color: var(--color-text-secondary);
    width: 100%;
  }

  .header__inner {
    display: flex;
    max-width: var(--max-page-width);
    margin-left: auto;
    margin-right: auto;
  }

  .open-menu {
    box-sizing: content-box;
    position: relative;
    z-index: 10000;
    display: none;
    justify-self: end;
    margin-left: 1rem;
    width: 2rem;
    height: 1.5rem;
    border-top: 0.25rem solid var(--color-text-secondary);
    order: 3;
    transition: border-top-color 0.2s ease-in-out;
  }

  .open-menu::before,
  .open-menu::after {
    content: '';
    display: block;
    width: 2rem;
    height: 0.2rem;
    background-color: var(--color-text-secondary);
    transition: transform 0.3s ease-in-out;
  }

  .open-menu::before {
    position: absolute;
    top: 0.5rem;
  }

  .open-menu::after {
    position: absolute;
    bottom: 0;
  }

  .open-menu--active {
    border-top-color: transparent;
  }

  .open-menu--active::before {
    transform: rotate(45deg);
  }

  .open-menu--active::after {
    transform: translateY(-0.75rem) rotate(-45deg);
  }

  .navigation {
    margin-left: auto;
  }

  @media screen and (max-width: 48rem) {
    .navigation {
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--color-primary);
      width: 100vw;
      height: 100vh;
      transform: translateX(-200%);
      transition: transform 0.3s ease-in-out;
    }

    .navigation--active {
      transform: translateX(0);
    }

    .open-menu {
      display: inline-block;
    }
  }

  .menu {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-size: 1.15rem;
    font-weight: bold;
  }

  @media screen and (max-width: 48rem) {
    .menu {
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      font-size: 2rem;2
      height: 100%;
    }
  }

  @media screen and (min-width: 48rem) {
    .menu {
      gap: 5rem;
    }
  }

  .menu__link {
    position: relative;
  }

  .menu__link,
  .menu__link::before,
  .menu__link::after {
    transition: color 0.3s ease-in-out;
    color: var(--color-text-secondary);
  }

  .menu__link::before,
  .menu__link::after {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .menu__link::before {
    content: '{';
  }

  .menu__link::after {
    content: '}';
  }

  .menu__link--active::before,
  .menu__link--active::after {
    opacity: 1;
  }

  .menu__link:active::before,
  .menu__link:hover::before,
  .menu__link:active::after,
  .menu__link:hover::after {
    opacity: 1;
  }
</style>
